/*Logo header - top menu*/
.custom-logo {
    background-image: url(/images/logo-service.png);
    background-repeat: no-repeat;
    background-position:center; 
}

@media only screen and (min-width : 992px) {
    .custom-logo {

    }

}
/*End - Log header  */

.test {
    margin-top: 370px;
}
.lt-body{
    overflow: hidden;
    border-bottom: solid 10px transparent;
}
.fill-test{
    width:100%;
    height:100%;
    background: #e55;
}
#map{
    width: 100%;
    height: 100%;
}